<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Вселенная | {% if title %} {{ title }} {% else %} Главная {% endif %}</title>
	<meta name="description" content="universe">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="/static/images/favicon.png">

	<meta name="yandex-verification" content="a71493c6a4461072" />

	<link rel="stylesheet" href="/static/stylesheets/style.css">
</head>

<body>
	<header class="header">
		<div class="header__top">
			<button class="button button--switch-language"> <span></span></button>
			<a href="mailto:info@b-152.ru" class="link link--email">info@universe-center.ru</a>
			<a href="tel:+79309537770" class="link link--phone">+7 (930) 953-77-70</a>
			<a href="#contactForm" class="button button--light button--callback">Заказать звонок</a>
			<a href="#login" class="button button--dark button--login"></a>
		</div>
		<nav class="header__bottom">
			<div class="toggle">
				<button class="button" type="button">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
			<div class="logo">
				<a href="/"><img src="/static/images/dest/logo.svg" /></a>
			</div>
			<ul class="menu menu--primary">
				<li class="menu__item menu__item--dropdown">
					<a href="/" class="link">Главная</a>
				</li>
				<li class="menu__item menu__item--dropdown">
					<a href="#ourSections" class="link">Спортивные секции</a>

					<div class="wrapper">
						<div class="menu-wrapper">
			
							<ul class="menu menu--secondary" aria-label="Секции">
								{% for sport in sections %}
								<li class="menu__item">
									<a href="/sport/{{ sport.slug }}" class="link">{{ sport.title }}</a>
								</li>
								{% endfor %}
							</ul>

							<ul class="menu menu--secondary" aria-label="Другое">
								<li class="menu__item">
									<a href="/services" class="link">Список секций</a>
								</li>
							</ul>
		
						</div>
					</div>
				</li>

				<li class="menu__item menu__item--dropdown">
					<a href="/gallery" class="link">Галерея</a>
				</li>

				<li class="menu__item menu__item--dropdown">
					<a href="/about" class="link">О нас</a>

					<div class="wrapper">
						<div class="menu-wrapper">
			
							<ul class="menu menu--secondary" aria-label="Основное">
								<li class="menu__item">
									<a href="/requisites" class="link">Контакты и реквизиты</a>
								</li>
							</ul>
		
						</div>
					</div>
				</li>



			</ul>
			<form action="" class="search search--main">
				<label for="#inputSearch" class="label label--search"><span>Поиск по сайту</span><input id="inputSearch" type="text" class="input input--search" placeholder="Поиск"></label>
				<button type="submit" class="button button--submit">Найти</button>
			</form>
		</nav>
	</header>

	<!-- content -->
	<div class="main">
		{% block content %}{% endblock %}
	</div>

	{% include "messages.html" %}

	<!-- modal fields -->
	<div id="contactForm" class="modal">
		<div class="modal__dialog">
			<div class="modal__content">
				<a href="#close" title="Close" class="close">×</a>

				<div class="form">
					<p class="form__title">Закажите звонок</p>
					{% if contact_form.errors %}
						<p style="color: red">Исправьте следующие ошибки: {{ form.errors|pluralize }}</p>
					{% endif %}
		
					<form action="/contact_form" method="post">
						{% csrf_token %}
						{{ contact_form.as_ul }}

						<input type="hidden" name="current_page_url" value="{{ request.path }}" />
						<button type="submit" class="form__button">Заказать</button>
		
						<small class="form__agreement">Нажимая на кнопку "Заказать, вы даете согласие на обработку своих персональных данных</small>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	
	<footer class="footer">
		<div class="footer__top">
			<div class="logo">
				<img src="/static/images/dest/logo.svg" class="footer_logo" />
				<div class="copyright">
					<p class="text">© «Вселенная». Все права защищены. 2020</p>
				</div>
			</div>
			<ul class="menu">
				<!-- <li class="menu__item">
					<a href="#" class="link">Услуги</a>
					<ul class="menu">
						<li class="menu__item">
							<a href="#" class="link">Сервис для организаций</a>
						</li>
						<li class="menu__item">
							<a href="#" class="link">Аудит и документация</a>
						</li>
						<li class="menu__item">
							<a href="#" class="link">GDPR</a>
						</li>
						<li class="menu__item">
							<a href="#" class="link">Остальные</a>
						</li>
					</ul>
				</li>
				<li class="menu__item">
					<a href="#" class="link">Информация</a>
					<ul class="menu">
						<li class="menu__item">
							<a href="#" class="link">Разъясняющие документы</a>
						</li>
						<li class="menu__item">
							<a href="#" class="link">FAQ</a>
						</li>
						<li class="menu__item">
							<a href="#" class="link">Законодательная база</a>
						</li>
						<li class="menu__item">
							<a href="#" class="link">Блог</a>
						</li>
						<li class="menu__item">
							<a href="#" class="link">База знаний</a>
						</li>
					</ul>
				</li> -->
				<li class="menu__item">
					<a href="#" class="link">Контакты</a>
					<ul class="menu">
						<li class="menu__item">
							<a href="mailto:info@universe-center.ru" class="link">info@universe-center.ru</a>
						</li>
						<li class="menu__item">
							<a href="tel:+79309537770" class="link">Москва: +7 (930) 953-77-70</a>
						</li>
					</ul>
					<div class="menu social-links">
						<a href="#" class="link link--fb">Facebook</a>
						<a href="#" class="link link--tw">Twitter</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="footer__bottom">
			<p class="text">Мы используем cookies для&nbsp;сбора обезличенных персональных данных. Они помогают настраивать рекламу и&nbsp;анализировать&nbsp;трафик.</p>
			<p class="text">Оставаясь на&nbsp;сайте, вы соглашаетесь на&nbsp;сбор таких&nbsp;данных.</p>
		</div>
	</footer>

    <script type="text/javascript" src="/static/js/app.js"></script>

</body>
</html>