{% extends "base.html" %}

{% load markup_tags %}

{% block content %}

<section class="section promo">
    <div class="promo__desc">
        <h1 class="text section__title">Обучение и тренировки для детей</h1>
        <p class="text">Мы создали комфортную среду для развития умственных, творческих и физических способностей для детей и подростков.
            Спортивные и интеллектуальные программы от ведущих педагогов и спортсменов.
        </p>
        <button class="button button--light">Первая тренировка - бесплатно</button>
    </div>
    <div class="promo__img">
        <img class="slideshow_image" src="/media/{{ first_image }}" alt="">
    </div>
</section>
<section class="section why">
    <div class="why__desc">
        <h2 class="text section__title"><span>Почему</span> именно мы?</h2>
        <p class="text text--light">Вселенная центр спортивного и интеллектуального развития для всей семьи</p>
    </div>
    <div class="why__img">
        <div class="wrapper">
            <img class="r_slideshow_image" src="/media/{{ last_image }}" alt="test">
        </div>
    </div>
    <div class="why__info">
        <ul class="list">
            <li class="text list__item"><span>Команда педагогов, спортсменов, психологов -</span> особая гордость нашего Центра. 
                При выборе педагогов мы обращаем внимание не только на образование и опыт, но и мотивацию, личные качества и соответствие нашей корпоративной культуре и ценностям.
            </li>
            <li class="text list__item"><span>У нас собственное здание с новым ремонтом.</span> Спортивный зал и классы оснащены всем современным и необходимым оборудованием. Уникальная атмосфера центра, где каждый ребенок и родитель  воплощают свои мечты в жизнь</li>
            <li class="text list__item"><span>Реализация талантов и способностей у детей и взрослых.</span> Все направления в одном месте. Спортивные тренировки проводят опытные наставники, которые отлично знают, какие нагрузки оптимальны для детского и взрослого организма. Все занятия проходят с соблюдением должных мер предосторожности и в специальной амуниции.</li>
        </ul>
        <a href="#" class="text link">Узнать больше</a>
    </div>
</section>
<section class="section we-do" id="ourSections">
    <h2 class="text section__title">Наши <span>спортивные</span> секции</h2>
    <p class="text text--light">Наша цель - добиться гармонии в развитии личности.</p>
    <ul class="list">
        {% for sport in sections %}
        <li class="list__item">
            <div class="list__item__title_block">
                <img src="/media/{{ sport.img }}" alt="{{ sport.title }}" />
                <p class="text title">{{ sport.title }}</p>
            </div>
            <p class="text">{{ sport.description }}</p>
        </li>
        {% endfor %}
    </ul>
</section>
<section class="section reviews">
    <div class="reviews__desc">
        <h2 class="text section__title">Наши тренеры и преподаватели</h2>
        <div class="reviews__department">
            <button class="button button--all button--active">Все</button>
            <!-- <button class="button button--it button">IT</button>
            <button class="button button--tourism button">Туризм</button>
            <button class="button button--mfo button">МФО</button>
            <button class="button button--medecine button">Медицина</button>
            <button class="button button--internet button">Интернет&#8209;сервисы</button>
            <button class="button button--international button">Международные&nbsp;компании</button> -->
        </div>
    </div>
    <ul class="list">
        {% for coach in coaches %}
        <li class="list__item blockquote">
            <div class="list__img">
                <img src="/media/{{ coach.photo }}" class="coach_photo"/>
            </div>
            
            <div class="list__text">
                <p class="desc_text">{{ coach.description|apply_markup:"markdown" }}</p>
                <div class="author">
                    <span class="text author__name">{{ coach.name }}</span>
                    <span class="text author__position">{{ coach.rank }}</span>
                </div>
                <!-- <img src="/static/images/dest/logo--philips.svg" alt="Philips" class="company-img"> -->
                <span class="text coach__section">{{ coach.section }}</span>
            </div>
        </li>
        {% endfor %}
        <!-- <li class="list__item blockquote">
            <p class="text">Для российского подразделения Philips очень важно соответствовать всем требованиям местного законодательства, включая закон №152-ФЗ "О персональных данных". Крупный бизнес области производства, дистрибуции и ...</p>
            <div class="author">
                <span class="text author__name">Оксана Глущенко</span>
                <span class="text author__position">Юрист, PHILIPS LLC</span>
            </div>
            <img src="/static/images/dest/logo--philips.svg" alt="Philips" class="company-img">
        </li>
        <li class="list__item blockquote">
            <p class="text">Для российского подразделения Philips очень важно соответствовать всем требованиям местного законодательства, включая закон №152-ФЗ "О персональных данных". Крупный бизнес области производства, дистрибуции и ...</p>
            <div class="author">
                <span class="text author__name">Оксана Глущенко</span>
                <span class="text author__position">Юрист, PHILIPS LLC</span>
            </div>
            <img src="/static/images/dest/logo--philips.svg" alt="Philips" class="company-img">
        </li>
        <li class="list__item blockquote">
            <p class="text">Для российского подразделения Philips очень важно соответствовать всем требованиям местного законодательства, включая закон №152-ФЗ "О персональных данных". Крупный бизнес области производства, дистрибуции и ...</p>
            <div class="author">
                <span class="text author__name">Оксана Глущенко</span>
                <span class="text author__position">Юрист, PHILIPS LLC</span>
            </div>
            <img src="/static/images/dest/logo--philips.svg" alt="Philips" class="company-img">
        </li>
        <li class="list__item blockquote">
            <p class="text">Для российского подразделения Philips очень важно соответствовать всем требованиям местного законодательства, включая закон №152-ФЗ "О персональных данных". Крупный бизнес области производства, дистрибуции и ...</p>
            <div class="author">
                <span class="text author__name">Оксана Глущенко</span>
                <span class="text author__position">Юрист, PHILIPS LLC</span>
            </div>
            <img src="/static/images/dest/logo--philips.svg" alt="Philips" class="company-img">
        </li>
        <li class="list__item blockquote">
            <p class="text">Для российского подразделения Philips очень важно соответствовать всем требованиям местного законодательства, включая закон №152-ФЗ "О персональных данных". Крупный бизнес области производства, дистрибуции и ...</p>
            <div class="author">
                <span class="text author__name">Оксана Глущенко</span>
                <span class="text author__position">Юрист, PHILIPS LLC</span>
            </div>
            <img src="/static/images/dest/logo--philips.svg" alt="Philips" class="company-img">
        </li>
        <li class="list__item blockquote">
            <p class="text">Для российского подразделения Philips очень важно соответствовать всем требованиям местного законодательства, включая закон №152-ФЗ "О персональных данных". Крупный бизнес области производства, дистрибуции и ...</p>
            <div class="author">
                <span class="text author__name">Оксана Глущенко</span>
                <span class="text author__position">Юрист, PHILIPS LLC</span>
            </div>
            <img src="/static/images/dest/logo--philips.svg" alt="Philips" class="company-img">
        </li>
        <li class="list__item blockquote">
            <p class="text">Для российского подразделения Philips очень важно соответствовать всем требованиям местного законодательства, включая закон №152-ФЗ "О персональных данных". Крупный бизнес области производства, дистрибуции и ...</p>
            <div class="author">
                <span class="text author__name">Оксана Глущенко</span>
                <span class="text author__position">Юрист, PHILIPS LLC</span>
            </div>
            <img src="/static/images/dest/logo--philips.svg" alt="Philips" class="company-img">
        </li> -->
    </ul>
</section>
<section class="section benefits">
    <h2 class="text section__title"><span>Развитие детей</span></h2>
    <ul class="list">
        <li class="text list__item">
            <img src="/static/images/dest/sad/1.jpg" />
            <p>Раннее развитие</p>
        </li>
        <li class="text list__item">
            <img src="/static/images/dest/sad/2.jpg" />
            <p>Подготовка к школе</p>
        </li>
        <li class="text list__item">
            <img src="/static/images/dest/sad/3.jpg" />
            <p>Секция "Подсолнушки"</p>
        </li>
        <li class="text list__item">
            <img src="/static/images/dest/sad/4.jpg" />
            <p>Детский мини-сад</p>
        </li>
        <li class="text list__item">
            <img src="/static/images/dest/sad/5.jpg" />
            <p>Мама и малыш</p>
        </li>
    </ul>
</section>
<section class="section section-news">
    <h2 class="text section__title">Наши <span>преимущества</span></h2>
    <article class="article news">
        <img src="/static/images/dest/benefits/time.svg" />
        <h3 class="text title">​<a href="#">Центр «Вселенная» позволяет подобрать удобное для вас время: утром, днем и вечером</a></h3>
    </article>
    <article class="article news">
        <img src="/static/images/dest/benefits/free.svg" />
        <h3 class="text title">​<a href="#">По многим дисциплинам первое пробное занятие бесплатно</a></h3>
    </article>
    <article class="article news">
        <img src="/static/images/dest/benefits/books.svg" />
        <h3 class="text title">​<a href="#">Все необходимые материалы и пособия мы закупаем сами и предоставляем при посещении</a></h3>
    </article>
</section>


{% load js %}
<script type="text/javascript"> 
    var images = "{{ str_images }}"
 </script>

{% endblock %}