{% extends "base.html" %}

{% load markup_tags %}

{% block content %}
<section class="section information">

    <h1 style="margin-top: 50px;">Наши спортивные секции и индивидуальные тренировки</h1>

    <div class="information__content">
        <div class="tables">
            <img class="info_img" src="/static/images/dest/pricelist/1.PNG" />
            <img class="info_img" src="/static/images/dest/pricelist/2.PNG" />
        </div>

        <div class="document">
            <div>
                <img src="/static/images/dest/sport_sections.svg" />
                <a href="/static/pdf/pricelist.pdf" target="_blank">Скачать список секций .pdf</a>
            </div>
            <div style="margin-top: 30px;">
                <img src="/static/images/dest/schedule.svg" />
                <a href="/static/csv/schedule.xlsx" target="_blank">Скачать расписание .csv</a>
            </div>

        </div>

    </div>

</section>
{% endblock %}