{% extends "base.html" %}

{% load markup_tags %}

{% block content %}
<section class="section information">

    <h1 style="margin-top: 50px;">Наши спортивные секции и индивидуальные тренировки</h1>

    <div class="information__content">
        <div class="tables">
            <img src="/static/images/dest/pricelist/1.png" />
            <img src="/static/images/dest/pricelist/2.png" />
        </div>

        <div class="document">
            <img src="/static/images/dest/requisites.png" />
            <a href="/static/pdf/pricelist.pdf" target="_blank">Скачать список секций .pdf</a>
        </div>
    </div>

</section>
{% endblock %}